/* base */

html {
    font-family: Arial, sans-serif;
    font-size: 13px;
    line-height:24px;
    color: #646464;
    overflow-y:hidden;
}

a{
    color: currentColor;
    text-decoration: none;
    cursor: pointer;
}

body {
    display: flex;
    flex-direction: column;
}

/* shared */

button,
.form-buttons input{
    border: none;
    text-align: center;
}

i {
    text-decoration: none; 
    font-size: 1rem;  
}

img, 
.form-search {
    margin-bottom: 27px;
}

.form-search {
    min-width: 100%;
    display:flex;
    position:relative;
    font-size: .7rem;
}

/* specific */

.body-container {
    font-size: 1.5rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding-top: 10.4rem;
}

.fas.fa-search {
    position: absolute;
    top: 15px;
    left: 19px;
    width: 1rem;
}

.fas.fa-microphone {
    position: absolute;
    top: 15px;
    right: 19px;
    width: 1rem;
    cursor: pointer;
}

.footer-container {
    font-size: 1.1rem;
    background-color: #EFEFEF;
    position: absolute;
    bottom: -1px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 4.4vh;
    align-items:center;
    padding:17px 30px;
}

.footer-container-links-left > a {
    margin-right: 22px;
}

.footer-container-links-right > a {
    margin-left:22px;
}

form {
    display:flex;
    flex-direction:column;
    align-items: center;
}

.form-buttons input {
    border-radius: 3px;
    background-color: #efefef;
    color: #6F6F6F;
    padding: 7px 14px;
    font-size: 1.1rem;
    margin-top: -2px;
}

.form-search > input {
    border: 1px solid #dddddd;
    border-radius: 1000px;
    height: 5vh;
    width: 491px;
    min-width: 50%;
    padding: 2px 23px 2px 30px;
    background-color: #fefefe;
    cursor: pointer;
}

.sign-in {
    background-color: rgb(67, 135, 253);
    color: white;
    padding: 7px 14px;
    font-weight:700;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:1rem;
    margin-top:-2px;
}

.nav-container-links-left{
    padding: 18px 25px;
}

.nav-container-links-left > a{
    margin-right: 15px
}

.nav-container-links-right{
    padding: 17px 30px;
}

.nav-container-links-right > a{
    margin-left: 15px
}

/* psuedo elements */


.fas.fa-th:hover {
    color: black;
}

.form-buttons input:hover {
    color: black;
    background-color: #F3F3F3;
    box-shadow: 0px 0px 1px #000; 
 }
 
.form-search input:hover {
    box-shadow: 0px 1px 10px #DDD 
    
}

.text-anchor:hover {
   text-decoration: underline;
}